<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>投资标的</title>
    <link rel="icon" href="/images/favicon.ico">
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<div class="tophui">
    <div class="topcont" align="right">汇付宝托管平台</div>
</div>
<div class="header">
    <div class="fl"><a href="http://www.heepay.com/"><img src="/images/logo.png" width="169" height="61"/></a></div>
    <input type="submit" name="button" id="button" value="搜索" class="s_button fr"/>
    <div class="search"><input name="" type="text" class="s_input"/>
    </div>
</div>

<div id="main" class="line">
    <form id="form" action="/userInvest/invest" method="post">
        <input type="hidden" th:each="map : ${paramMap}" th:name="${map.key}" th:value="${map.value}"/>

        <div style="padding: 20px 20px">
            <div class="divTitle">投标信息</div>

            <div style="padding: 5px 5px">个人信息</div>
            <table class="gridtable">
                <tr>
                    <td width="50%">姓名：<span th:text="${userBind.personalName}"></span></td>
                    <td>手机：<span th:text="${userBind.mobile}"></span></td>
                </tr>
                <tr>
                    <td width="50%">身份证：<span th:text="${userBind.idCard}"></span></td>
                    <td>邮箱：<span th:text="${userBind.email}"></span></td>
                </tr>
            </table>

            <div style="padding: 5px 5px;margin-top: 30px;">账户信息</div>
            <table class="gridtable">
                <tr>
                    <td width="50%">账户余额：<span th:text="${userAccount.amount}"></span>元</td>
                    <td>冻结金额：<span th:text="${userAccount.freezeAmount}">元</span></td>
                </tr>
            </table>

            <div style="padding: 5px 5px;margin-top: 30px;">标的信息</div>
            <table class="gridtable">
                <tr>
                    <td width="50%">标的编号：<span th:text="${paramMap.agentProjectCode}"></span></td>
                    <td>标的名称：<span th:text="${paramMap.agentProjectName}"></span></td>
                </tr>
                <tr>
                    <td width="50%">出借金额：<span th:text="${paramMap.voteAmt}">元</span></td>
                    <td></td>
                </tr>
            </table>

            <div style="padding: 5px 5px;margin-top: 30px;">支付密码</div>
            <table class="gridtable">
                <tr>
                    <td width="50%">支付密码：<input type="password" name="payPasswd" id="payPasswd" class="inputTxt"></td>
                </tr>
            </table>
            <div style="padding: 5px 5px; margin-top: 20px;">
                <input type="button" id="submitForm" value="确定" class="inputSubmit"/>
            </div>
        </div>
    </form>
</div>

<div class="footer">
    <p class="hui">地址：北京市海淀区 电话：010-88888888</p>
    <p class="hui">Copyright © 2020 北京尚融宝科技有限公司 All Rights Reserved  京ICP备15000000号</p>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#submitForm").click(function(){
            var payPasswd = $("#payPasswd").val();
            if(payPasswd == '') {
                alert("支付密码必须输入")
                return
            }
            $("#form").submit();
        });
    });
</script>
</body>
</html>
