<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jw.srb.core.mapper.BorrowInfoMapper">

    <select id="selectBorrowInfoList" resultType="jw.srb.core.pojo.entity.BorrowInfo">
        select
            bi.*,
            b.name,
            b.mobile
        from borrow_info as bi
                 left join borrower as b on bi.user_id = b.user_id
        where bi.is_deleted = 0
    </select>
</mapper>
