<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jw.srb.core.mapper.UserAccountMapper">

    <update id="updateAccount">
        update user_account
        set
            amount = amount + #{amount},
            freeze_amount = freeze_amount + #{freezeAmount}
        where user_id = (select id from user_info where bind_code = #{bindCode})
    </update>
</mapper>
